.attribution {
  margin: 1em;
  margin-bottom: 2em;
}

.attribution:last-child {
  margin-bottom: 0;
}

.text {
  font-family: "Helvetica", sans-serif;
  text-align: center;
}

#title {
  margin: auto;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

h3 {
  margin-bottom: 0.2em;
}

a {
  text-decoration: none;
}
